name: whisper
services:
  whisper:
    image: ghcr.io/nicandris/whisper-webui:latest
    container_name: whisper
    hostname: whisper
    dns:
      - 172.10.10.3
    volumes:
      - ./models:/Whisper-WebUI/models
      - ./outputs:/Whisper-WebUI/outputs
      - ./configs:/Whisper-WebUI/configs
      - ./requirements.txt:/Whisper-WebUI/requirements.txt
      # - /dev/dri/renderD128:/dev/dri/renderD128
    environment:
      - XPU_VISIBLE_DEVICES=0
      - SYCL_CACHE_PERSISTENT=1
      - ZE_FLAT_DEVICE_HIERARCHY=COMPOSITE
      - SYCL_DEVICE_FILTER=level_zero:gpu
      - ZE_ENABLE_PCI_ID_DEVICE_ORDER=1
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
    stdin_open: true
    tty: true
    ipc: host
    privileged: true
    group_add: 
      - 109
      - 44
    entrypoint: ["python", "app.py", "--server_port", "7860", "--server_name", "0.0.0.0", "--whisper_type", "insanely_fast_whisper"]

